<div class="container-fluid">
  <div class="container">
    <div class="container text-lg-center">
      <h1>
        <img
          src="https://img.icons8.com/color/100/000000/dashboard--v1.png"
        />Dashboard
      </h1>
      <hr />
      <br />
    </div>
    <div href="#Finance" class="container">
      <div>
        <h3 style="text-align: center; background-color: lightgoldenrodyellow">
          <img src="https://img.icons8.com/color/48/000000/bank-building.png" />
          {{ financeHeadingText }}
        </h3>
      </div>
      <div class="row">
        <div class="col" style="text-align: center">
          <pinned-modal
            [imgWidth]="'70'"
            [hyperlink]="chaseLink"
            [imageUrl]="chaseImgLink"
            [linkName]="chaseBank"
            [modalTitle]="chaseBank"
            [primaryButton]="okButtonText"
            [tableHeadingArray]="chaseHeadingArray"
            [tableRowArray]="chaseCardsArray"
          ></pinned-modal>
        </div>
        <div class="col" style="text-align: center">
          <pinned-modal
            [imgWidth]="'70'"
            [hyperlink]="tdLink"
            [imageUrl]="tdImgLink"
            [linkName]="tdBank"
            [modalTitle]="tdBank"
            [primaryButton]="okButtonText"
            [tableHeadingArray]="tdHeadingArray"
            [tableRowArray]="tdCardsArray"
          ></pinned-modal>
        </div>
        <div class="col" style="text-align: center">
          <pinned-modal
            [hyperlink]="amexLink"
            [imageUrl]="amexImgLink"
            [linkName]="amex"
            [modalTitle]="amex"
            [primaryButton]="okButtonText"
            [tableHeadingArray]="amexHeadingArray"
            [tableRowArray]="amexCardsArray"
          ></pinned-modal>
        </div>
        <div class="col" style="text-align: center">
          <pinned-modal
            [imgWidth]="'100'"
            [imgHeight]="'60'"
            [hyperlink]="capitalOneLink"
            [imageUrl]="capitalOneImgLink"
            [linkName]="capitalOne"
            [modalTitle]="capitalOne"
            [primaryButton]="okButtonText"
            [tableHeadingArray]="capitalOneHeadingArray"
            [tableRowArray]="capitalOneCardsArray"
          ></pinned-modal>
        </div>
      </div>
    </div>
    <br />
    <br />
    <div href="#Bills" class="container">
      <div>
        <h3 style="text-align: center; background-color: lightgoldenrodyellow">
          <img src="https://img.icons8.com/color/48/000000/check--v1.png" />
          {{ billsHeadingText }}
        </h3>
      </div>
      <div class="row">
        <div class="col" style="text-align: center">
          <pinned-modal
            [imgWidth]="'120'"
            [hyperlink]="conserviceLink"
            [imageUrl]="conserviceImgLink"
            [linkName]="conservice"
            [modalTitle]="conservice"
            [primaryButton]="okButtonText"
            [tableHeadingArray]="conserviceHeadingArray"
            [tableRowArray]="conserviceDataArray"
          ></pinned-modal>
        </div>
        <div class="col" style="text-align: center">
          <pinned-modal
            [imgWidth]="'120'"
            [hyperlink]="royalWorthingtonLink"
            [imageUrl]="royalWorthingtonImgLink"
            [linkName]="royalWorthington"
            [modalTitle]="royalWorthington"
            [primaryButton]="okButtonText"
            [tableHeadingArray]="royalWorthingtonHeadingArray"
            [tableRowArray]="royalWorthingtonDataArray"
          ></pinned-modal>
        </div>
        <div class="col" style="text-align: center">
          <pinned-modal
            [hyperlink]="verizonLink"
            [imageUrl]="verizonImgLink"
            [linkName]="verizon"
            [modalTitle]="verizon"
            [primaryButton]="okButtonText"
            [tableHeadingArray]="verizonHeadingArray"
            [tableRowArray]="verizonDataArray"
          ></pinned-modal>
        </div>
        <div class="col" style="text-align: center">
          <pinned-modal
            [imgWidth]="'150'"
            [hyperlink]="mintMobileLink"
            [imageUrl]="mintMobileImgLink"
            [linkName]="mintMobile"
            [modalTitle]="mintMobile"
            [primaryButton]="okButtonText"
            [tableHeadingArray]="mintMobileHeadingArray"
            [tableRowArray]="mintMobileDataArray"
          ></pinned-modal>
        </div>
      </div>
    </div>
    <br />
    <br />
    <div href="#Subscriptions" class="container">
      <div>
        <h3 style="text-align: center; background-color: lightgoldenrodyellow">
          <img
            src="https://img.icons8.com/color/48/000000/us-dollar-circled.png"
          />{{ subscriptionsHeadingText }}
        </h3>
      </div>
      <div class="row">
        <div class="col" style="text-align: center">
          <pinned-modal
            [hyperlink]="spotifyLink"
            [imageUrl]="spotifyImgLink"
            [linkName]="spotify"
            [modalTitle]="spotify"
            [primaryButton]="okButtonText"
            [tableHeadingArray]="spotifyHeadingArray"
            [tableRowArray]="spotifyDataArray"
          ></pinned-modal>
        </div>
        <div class="col" style="text-align: center">
          <pinned-modal
            [hyperlink]="amazonPrimeLink"
            [imageUrl]="amazonPrimeImgLink"
            [linkName]="amazonPrime"
            [modalTitle]="amazonPrime"
            [primaryButton]="okButtonText"
            [tableHeadingArray]="amazonPrimeHeadingArray"
            [tableRowArray]="amazonPrimeDataArray"
          ></pinned-modal>
        </div>
      </div>
    </div>
    <br />
    <br />
    <div href="#Shopping" class="container">
      <div>
        <h3 style="text-align: center; background-color: lightgoldenrodyellow">
          <img
            src="https://img.icons8.com/color/48/000000/shopping-cart--v1.png"
          />
          {{ shoppingHeadingText }}
        </h3>
      </div>
      <div class="row">
        <div class="col" style="text-align: center">
          <pinned-modal
            [hyperlink]="macysLink"
            [imageUrl]="macysImgLink"
            [linkName]="macys"
            [modalTitle]="macys"
            [primaryButton]="okButtonText"
            [tableHeadingArray]="macysHeadingArray"
            [tableRowArray]="macysDataArray"
          ></pinned-modal>
        </div>
        <div class="col" style="text-align: center">
          <pinned-modal
            [hyperlink]="targetLink"
            [imageUrl]="targetImgLink"
            [linkName]="target"
            [modalTitle]="target"
            [primaryButton]="okButtonText"
            [tableHeadingArray]="targetHeadingArray"
            [tableRowArray]="targetDataArray"
          ></pinned-modal>
        </div>
        <div class="col" style="text-align: center">
          <pinned-modal
            [hyperlink]="wegmansLink"
            [imageUrl]="wegmansImgLink"
            [linkName]="wegmans"
            [modalTitle]="wegmans"
            [primaryButton]="okButtonText"
            [tableHeadingArray]="wegmansHeadingArray"
            [tableRowArray]="wegmansDataArray"
          ></pinned-modal>
        </div>
        <div class="col" style="text-align: center">
          <pinned-modal
            [hyperlink]="aldiLink"
            [imageUrl]="aldiImgLink"
            [linkName]="aldi"
            [modalTitle]="aldi"
            [primaryButton]="okButtonText"
            [tableHeadingArray]="aldiHeadingArray"
            [tableRowArray]="aldiDataArray"
          ></pinned-modal>
        </div>
        <div class="col" style="text-align: center">
          <pinned-modal
            [hyperlink]="bjsLink"
            [imageUrl]="bjsImgLink"
            [linkName]="bjs"
            [modalTitle]="bjs"
            [primaryButton]="okButtonText"
            [tableHeadingArray]="bjsHeadingArray"
            [tableRowArray]="bjsDataArray"
          ></pinned-modal>
        </div>
        <div class="col" style="text-align: center">
          <pinned-modal
            [hyperlink]="giantLink"
            [imageUrl]="giantImgLink"
            [linkName]="giant"
            [modalTitle]="giant"
            [primaryButton]="okButtonText"
            [tableHeadingArray]="giantHeadingArray"
            [tableRowArray]="giantDataArray"
          ></pinned-modal>
        </div>
        <div class="col" style="text-align: center">
          <pinned-modal
            [hyperlink]="dollarTreeLink"
            [imageUrl]="dollarTreeImgLink"
            [linkName]="dollarTree"
            [modalTitle]="dollarTree"
            [primaryButton]="okButtonText"
            [tableHeadingArray]="dollarTreeHeadingArray"
            [tableRowArray]="dollarTreeDataArray"
          ></pinned-modal>
        </div>
      </div>
    </div>
    <br />
    <br />
    <div href="#Hospital&UrgentCare" class="container">
      <div>
        <h3 style="text-align: center; background-color: lightgoldenrodyellow">
          <img
            src="https://img.icons8.com/color/48/000000/hospital.png"
          />{{ hospitalsHeadingText }}
        </h3>
      </div>
      <div class="row">
        <div class="col" style="text-align: center">
          <pinned-modal
            [hyperlink]="towerHealthLink"
            [imageUrl]="towerHealthImgLink"
            [linkName]="towerHealth"
            [modalTitle]="towerHealth"
            [primaryButton]="okButtonText"
            [tableHeadingArray]="towerHealthHeadingArray"
            [tableRowArray]="towerHealthDataArray"
          ></pinned-modal>
        </div>
        <div class="col" style="text-align: center">
          <pinned-modal
            [hyperlink]="mainLineHealthLink"
            [imageUrl]="mainLineHealthImgLink"
            [linkName]="mainLineHealth"
            [modalTitle]="mainLineHealth"
            [primaryButton]="okButtonText"
            [tableHeadingArray]="mainLineHealthHeadingArray"
            [tableRowArray]="mainLineHealthDataArray"
          ></pinned-modal>
        </div>
      </div>
    </div>
    <br />
    <br />
    <div href="#Pharmacy" class="container">
      <div>
        <h3 style="text-align: center; background-color: lightgoldenrodyellow">
          <img
            src="https://img.icons8.com/color/48/000000/pill.png"
          />{{ pharmacyHeadingText }}
        </h3>
    </div>
    <div class="row">
      <div class="col" style="text-align: center">
        <pinned-modal
          [hyperlink]="cvsLink"
          [imageUrl]="cvsImgLink"
          [linkName]="cvs"
          [modalTitle]="cvs"
          [primaryButton]="okButtonText"
          [tableHeadingArray]="cvsHeadingArray"
          [tableRowArray]="cvsDataArray"
        ></pinned-modal>
      </div>
      <div class="col" style="text-align: center">
        <pinned-modal
          [hyperlink]="wegmansPharmacyLink"
          [imageUrl]="wegmansPharmacyImgLink"
          [linkName]="wegmansPharmacy"
          [modalTitle]="wegmansPharmacy"
          [primaryButton]="okButtonText"
          [tableHeadingArray]="wegmansPharmacyHeadingArray"
          [tableRowArray]="wegmansPharmacyDataArray"
        ></pinned-modal>
      </div>
      <div class="col" style="text-align: center">
        <pinned-modal
          [hyperlink]="consolidatedMedicalSupplyLink"
          [imageUrl]="consolidatedMedicalSupplyImgLink"
          [linkName]="consolidatedMedicalSupply"
          [modalTitle]="consolidatedMedicalSupply"
          [primaryButton]="consolidatedMedicalSupply"
          [tableHeadingArray]="consolidatedMedicalSupplyHeadingArray"
          [tableRowArray]="consolidatedMedicalSupplyDataArray"
        ></pinned-modal>
      </div>
    </div>
  </div>
</div>
