<div class="container-fluid">
  <div class="container">
    <div class="container text-lg-center">
      <h1>
        <img
          src="https://img.icons8.com/color/100/000000/dashboard--v1.png"
        />Dashboard
      </h1>
      <hr />
      <br />
    </div>
    <div class="container">
      <div>
        <h3 style="background-color: lightgoldenrodyellow">
          <img
            src="https://img.icons8.com/color/48/000000/bank-building.png"
          />Financial Services
        </h3>
      </div>
      <div class="row">
        <div class="col" style="text-align: center">
          <pinned-modal
            [imgWidth]="'70'"
            [hyperlink]="chaseLink"
            [imageUrl]="chaseImgLink"
            [linkName]="chaseBank"
            [modalTitle]="chaseBank"
            [primaryButton]="okButtonText"
            [tableHeadingArray]="chaseHeadingArray"
            [tableRowArray]="chaseCardsArray"
          ></pinned-modal>
        </div>
        <div class="col" style="text-align: center">
          <pinned-modal
            [imgWidth]="'70'"
            [hyperlink]="tdLink"
            [imageUrl]="tdImgLink"
            [linkName]="tdBank"
            [modalTitle]="tdBank"
            [primaryButton]="okButtonText"
            [tableHeadingArray]="tdHeadingArray"
            [tableRowArray]="tdCardsArray"
          ></pinned-modal>
        </div>
        <div class="col" style="text-align: center">
          <pinned-modal
            [hyperlink]="amexLink"
            [imageUrl]="amexImgLink"
            [linkName]="amex"
            [modalTitle]="amex"
            [primaryButton]="okButtonText"
            [tableHeadingArray]="amexHeadingArray"
            [tableRowArray]="amexCardsArray"
          ></pinned-modal>
        </div>
        <div class="col" style="text-align: center">
          <pinned-modal
            [imgWidth]="'100'"
            [imgHeight]="'60'"
            [hyperlink]="capitalOneLink"
            [imageUrl]="capitalOneImgLink"
            [linkName]="capitalOne"
            [modalTitle]="capitalOne"
            [primaryButton]="okButtonText"
            [tableHeadingArray]="capitalOneHeadingArray"
            [tableRowArray]="capitalOneCardsArray"
          ></pinned-modal>
        </div>
    </div>
  </div>
</div>
