<div class="container-fluid">
  <div class="container">
    <div class="container text-lg-center">
      <h1>
        <img
          src="https://img.icons8.com/color/100/000000/dashboard--v1.png"
        />Dashboard
      </h1>
      <hr />
      <br />
    </div>
    <div class="container">
      <h3>
        {{ today }}
      </h3>
    </div>
    <div href="#Finance" class="container">
      <div>
        <h3 style="text-align: center; background-color: lightgoldenrodyellow">
          <img src="https://img.icons8.com/color/48/000000/bank-building.png" />
          {{ financeHeadingText }}
        </h3>
      </div>
      <div class="row">
        <div class="col" style="text-align: center">
          <pinned-modal
            [imgWidth]="'70'"
            [hyperlink]="quickenSimplifiLink"
            [imageUrl]="quickenSimplifiImgLink"
            [linkName]="quickenSimplifi"
            [modalTitle]="quickenSimplifi"
            [primaryButton]="okButtonText"
            [tableHeadingArray]="quickenSimplifiHeadingArray"
            [tableRowArray]="quickenSimplifiArray"
          ></pinned-modal>
        </div>
        <div class="col" style="text-align: center">
          <pinned-modal
            [imgWidth]="'70'"
            [hyperlink]="chaseLink"
            [imageUrl]="chaseImgLink"
            [linkName]="chaseBank"
            [modalTitle]="chaseBank"
            [primaryButton]="okButtonText"
            [tableHeadingArray]="chaseHeadingArray"
            [tableRowArray]="chaseCardsArray"
          ></pinned-modal>
        </div>
        <div class="col" style="text-align: center">
          <pinned-modal
            [imgWidth]="'70'"
            [hyperlink]="tdLink"
            [imageUrl]="tdImgLink"
            [linkName]="tdBank"
            [modalTitle]="tdBank"
            [primaryButton]="okButtonText"
            [tableHeadingArray]="tdHeadingArray"
            [tableRowArray]="tdCardsArray"
          ></pinned-modal>
        </div>
        <div class="col" style="text-align: center">
          <pinned-modal
            [hyperlink]="amexLink"
            [imageUrl]="amexImgLink"
            [linkName]="amex"
            [modalTitle]="amex"
            [primaryButton]="okButtonText"
            [tableHeadingArray]="amexHeadingArray"
            [tableRowArray]="amexCardsArray"
          ></pinned-modal>
        </div>
        <div class="col" style="text-align: center">
          <pinned-modal
            [imgWidth]="'100'"
            [imgHeight]="'60'"
            [hyperlink]="capitalOneLink"
            [imageUrl]="capitalOneImgLink"
            [linkName]="capitalOne"
            [modalTitle]="capitalOne"
            [primaryButton]="okButtonText"
            [tableHeadingArray]="capitalOneHeadingArray"
            [tableRowArray]="capitalOneCardsArray"
          ></pinned-modal>
        </div>
      </div>
    <br />
    <div class="row">
        <div class="col" style="text-align: center">
          <pinned-modal
            [imgWidth]="'100'"
            [hyperlink]="macysLink"
            [imageUrl]="macysImgLink"
            [linkName]="macys"
            [modalTitle]="macys"
            [primaryButton]="okButtonText"
            [tableHeadingArray]="macysHeadingArray"
            [tableRowArray]="macysCardArray"
          ></pinned-modal>
        </div>
        <div class="col" style="text-align: center">
          <pinned-modal
            [imgWidth]="'70'"
            [hyperlink]="targetLink"
            [imageUrl]="targetImgLink"
            [linkName]="target"
            [modalTitle]="target"
            [primaryButton]="okButtonText"
            [tableHeadingArray]="targetHeadingArray"
            [tableRowArray]="targetDataArray"
          ></pinned-modal>
        </div>
        <div class="col" style="text-align: center">
          <pinned-modal
            [imgWidth]="'120'"
            [imgHeight]="'50'"
            [hyperlink]="vanguardLink"
            [imageUrl]="vanguardImgLink"
            [linkName]="vanguard"
            [modalTitle]="vanguard"
            [primaryButton]="okButtonText"
            [tableHeadingArray]="vanguardHeadingArray"
            [tableRowArray]="vanguardDataArray"
          ></pinned-modal>
        </div>
        <div class="col" style="text-align: center">
          <pinned-modal
            [imgWidth]="'120'"
            [imgHeight]="'50'"
            [hyperlink]="ezpassLink"
            [imageUrl]="ezpassImgLink"
            [linkName]="ezpass"
            [modalTitle]="ezpass"
            [primaryButton]="okButtonText"
            [tableHeadingArray]="ezpassHeadingArray"
            [tableRowArray]="ezpassDataArray"
          ></pinned-modal>
        </div>
        <div class="col" style="text-align: center">
          <pinned-modal
            [imgWidth]="'100'"
            [imgHeight]="'70'"
            [hyperlink]="experianLink"
            [imageUrl]="experianImgLink"
            [linkName]="experian"
            [modalTitle]="experian"
            [primaryButton]="okButtonText"
            [tableHeadingArray]="experianHeadingArray"
            [tableRowArray]="experianDataArray"
          ></pinned-modal>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col" style="text-align: center">
          <pinned-modal
            [imgWidth]="'120'"
            [imgHeight]="'50'"
            [hyperlink]="equifaxLink"
            [imageUrl]="equifaxImgLink"
            [linkName]="equifax"
            [modalTitle]="equifax"
            [primaryButton]="okButtonText"
            [tableHeadingArray]="equifaxHeadingArray"
            [tableRowArray]="equifaxDataArray"
          ></pinned-modal>
        </div>
        <div class="col" style="text-align: center">
          <pinned-modal
            [imgWidth]="'120'"
            [imgHeight]="'50'"
            [hyperlink]="transunionLink"
            [imageUrl]="transunionImgLink"
            [linkName]="transunion"
            [modalTitle]="transunion"
            [primaryButton]="okButtonText"
            [tableHeadingArray]="transunionHeadingArray"
            [tableRowArray]="transunionDataArray"
          ></pinned-modal>
        </div>
        <div class="col" style="text-align: center">
          <pinned-modal
            [imgWidth]="'120'"
            [imgHeight]="'50'"
            [hyperlink]="icnaReliefLink"
            [imageUrl]="icnaReliefImgLink"
            [linkName]="icnaRelief"
            [modalTitle]="icnaRelief"
            [primaryButton]="okButtonText"
            [tableHeadingArray]="icnaReliefHeadingArray"
            [tableRowArray]="icnaReliefDataArray"
          ></pinned-modal>
        </div>
      </div>
    </div>
    <br />
    <br />
    <div href="#Insurance" class="container">
      <div>
        <h3 style="text-align: center; background-color: lightgoldenrodyellow">
          <img
            width="48"
            height="48"
            src="https://img.icons8.com/cotton/48/security-checked--v3.png"
          />
          {{ insuranceTaxRegistrationHeadingText }}
        </h3>
      </div>
      <div class="row">
        <div class="col" style="text-align: center">
          <pinned-modal
            [imgWidth]="'120'"
            [hyperlink]="geicoLink"
            [imageUrl]="geicoImgLink"
            [linkName]="geico"
            [modalTitle]="geico"
            [primaryButton]="okButtonText"
            [tableHeadingArray]="geicoHeadingArray"
            [tableRowArray]="geicoDataArray"
          ></pinned-modal>
        </div>
        <div class="col" style="text-align: center">
          <pinned-modal
            [imgWidth]="'120'"
            [hyperlink]="aetnaLink"
            [imageUrl]="aetnaImgLink"
            [linkName]="aetna"
            [modalTitle]="aetna"
            [primaryButton]="okButtonText"
            [tableHeadingArray]="aetnaHeadingArray"
            [tableRowArray]="aetnaDataArray"
          ></pinned-modal>
        </div>
        <div class="col" style="text-align: center">
          <pinned-modal
            [imgWidth]="'120'"
            [hyperlink]="deltaDentalLink"
            [imageUrl]="deltaDentalImgLink"
            [linkName]="deltaDental"
            [modalTitle]="deltaDental"
            [primaryButton]="okButtonText"
            [tableHeadingArray]="deltaDentalHeadingArray"
            [tableRowArray]="deltaDentalDataArray"
          ></pinned-modal>
        </div>
        <div class="col" style="text-align: center">
          <pinned-modal
            [imgWidth]="'120'"
            [hyperlink]="assurantLink"
            [imageUrl]="assurantImgLink"
            [linkName]="assurant"
            [modalTitle]="assurant"
            [primaryButton]="okButtonText"
            [tableHeadingArray]="assurantHeadingArray"
            [tableRowArray]="assurantDataArray"
          ></pinned-modal>
        </div>
        <div class="col" style="text-align: center">
          <pinned-modal
            [imgWidth]="'70'"
            [imgWidth]="'70'"
            [hyperlink]="paCarRegistrationLink"
            [imageUrl]="paCarRegistrationImgLink"
            [linkName]="paCarRegistration"
            [modalTitle]="assurant"
            [primaryButton]="okButtonText"
            [tableHeadingArray]="paCarRegistrationHeadingArray"
            [tableRowArray]="paCarRegistrationDataArray"
          ></pinned-modal>
        </div>
        <div class="col" style="text-align: center">
          <pinned-modal
            [imgWidth]="'120'"
            [hyperlink]="vspLink"
            [imageUrl]="vspImgLink"
            [linkName]="vsp"
            [modalTitle]="vsp"
            [primaryButton]="okButtonText"
            [tableHeadingArray]="vspHeadingArray"
            [tableRowArray]="vspDataArray"
          ></pinned-modal>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col" style="text-align: center">
          <pinned-modal
            [imgWidth]="'120'"
            [hyperlink]="keystoneCollectionsGroupLink"
            [imageUrl]="keystoneCollectionsGroupImgLink"
            [linkName]="keystoneCollectionsGroup"
            [modalTitle]="keystoneCollectionsGroup"
            [primaryButton]="okButtonText"
            [tableHeadingArray]="keystoneCollectionsGroupHeadingArray"
            [tableRowArray]="keystoneCollectionsGroupDataArray"
          ></pinned-modal>
        </div>
        <div class="col" style="text-align: center">
          <pinned-modal
            [imgWidth]="'70'"
            [imgHeight]="'70'"
            [hyperlink]="eyeconicLink"
            [imageUrl]="eyeconicImgLink"
            [linkName]="eyeconic"
            [modalTitle]="eyeconic"
            [primaryButton]="okButtonText"
            [tableHeadingArray]="eyeconicHeadingArray"
            [tableRowArray]="eyeconicDataArray"
          ></pinned-modal>
        </div>
      </div>
    </div>
    <br />
    <br />
    <div href="#Bills" class="container">
      <div>
        <h3 style="text-align: center; background-color: lightgoldenrodyellow">
          <img src="https://img.icons8.com/color/48/000000/check--v1.png" />
          {{ billsHeadingText }}
        </h3>
      </div>
      <div class="row">
        <div class="col" style="text-align: center">
          <pinned-modal
            [imgWidth]="'120'"
            [hyperlink]="conserviceLink"
            [imageUrl]="conserviceImgLink"
            [linkName]="conservice"
            [modalTitle]="conservice"
            [primaryButton]="okButtonText"
            [tableHeadingArray]="conserviceHeadingArray"
            [tableRowArray]="conserviceDataArray"
          ></pinned-modal>
        </div>
        <div class="col" style="text-align: center">
          <pinned-modal
            [imgWidth]="'200'"
            [imgHeight]="'70'"
            [hyperlink]="royalWorthingtonLink"
            [imageUrl]="royalWorthingtonImgLink"
            [linkName]="royalWorthington"
            [modalTitle]="royalWorthington"
            [primaryButton]="okButtonText"
            [tableHeadingArray]="royalWorthingtonHeadingArray"
            [tableRowArray]="royalWorthingtonDataArray"
          ></pinned-modal>
        </div>
        <div class="col" style="text-align: center">
          <pinned-modal
            [imgWidth]="'120'"
            [imgHeight]="'70'"
            [hyperlink]="verizonLink"
            [imageUrl]="verizonImgLink"
            [linkName]="verizon"
            [modalTitle]="verizon"
            [primaryButton]="okButtonText"
            [tableHeadingArray]="verizonHeadingArray"
            [tableRowArray]="verizonDataArray"
          ></pinned-modal>
        </div>
        <div class="col" style="text-align: center">
          <pinned-modal
            [imgWidth]="'150'"
            [hyperlink]="mintMobileLink"
            [imageUrl]="mintMobileImgLink"
            [linkName]="mintMobile"
            [modalTitle]="mintMobile"
            [primaryButton]="okButtonText"
            [tableHeadingArray]="mintMobileHeadingArray"
            [tableRowArray]="mintMobileDataArray"
          ></pinned-modal>
        </div>
      </div>
    </div>
    <br />
    <br />
    <div href="#Subscriptions" class="container">
      <div>
        <h3 style="text-align: center; background-color: lightgoldenrodyellow">
          <img
            src="https://img.icons8.com/color/48/000000/us-dollar-circled.png"
          />{{ subscriptionsHeadingText }}
        </h3>
      </div>
      <div class="row">
        <div class="col" style="text-align: center">
          <pinned-modal
            [hyperlink]="spotifyLink"
            [imageUrl]="spotifyImgLink"
            [linkName]="spotify"
            [modalTitle]="spotify"
            [primaryButton]="okButtonText"
            [tableHeadingArray]="spotifyHeadingArray"
            [tableRowArray]="spotifyDataArray"
          ></pinned-modal>
        </div>
        <div class="col" style="text-align: center">
          <pinned-modal
            [hyperlink]="amazonPrimeLink"
            [imageUrl]="amazonPrimeImgLink"
            [linkName]="amazonPrime"
            [modalTitle]="amazonPrime"
            [primaryButton]="okButtonText"
            [tableHeadingArray]="amazonPrimeHeadingArray"
            [tableRowArray]="amazonPrimeDataArray"
          ></pinned-modal>
        </div>
        <div class="col" style="text-align: center">
          <pinned-modal
            [imgWidth]="'70'"
            [hyperlink]="bjsLink"
            [imageUrl]="bjsImgLink"
            [linkName]="bjs"
            [modalTitle]="bjs"
            [primaryButton]="okButtonText"
            [tableHeadingArray]="bjsHeadingArray"
            [tableRowArray]="bjsDataArray"
          ></pinned-modal>
        </div>
        <div class="col" style="text-align: center">
          <pinned-modal
            [imgWidth]="'200'"
            [hyperlink]="microsoft365Link"
            [imageUrl]="microsoft365ImgLink"
            [linkName]="microsoft365"
            [modalTitle]="microsoft365"
            [primaryButton]="okButtonText"
            [tableHeadingArray]="microsoft365HeadingArray"
            [tableRowArray]="microsoft365DataArray"
          ></pinned-modal>
        </div>
        <div class="col" style="text-align: center">
          <pinned-modal
            [imgWidth]="'70'"
            [hyperlink]="chaseLink"
            [imageUrl]="chaseImgLink"
            [linkName]="chaseBank"
            [modalTitle]="chaseBank"
            [primaryButton]="okButtonText"
            [tableHeadingArray]="chaseHeadingArray"
            [tableRowArray]="chaseCardsArray"
          ></pinned-modal>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col" style="text-align: center">
          <pinned-modal
            [imgWidth]="'100'"
            [hyperlink]="githubCopilotLink"
            [imageUrl]="githubCopilotImgLink"
            [linkName]="githubCopilot"
            [modalTitle]="githubCopilot"
            [primaryButton]="okButtonText"
            [tableHeadingArray]="githubCopilotHeadingArray"
            [tableRowArray]="githubCopilotDataArray"
          ></pinned-modal>
        </div>
        <div class="col" style="text-align: center">
          <pinned-modal
            [imgWidth]="'200'"
            [imgHeight]="'50'"
            [hyperlink]="myHyundaiLink"
            [imageUrl]="myHyundaiImgLink"
            [linkName]="myHyundai"
            [modalTitle]="myHyundai"
            [primaryButton]="okButtonText"
            [tableHeadingArray]="myHyundaiHeadingArray"
            [tableRowArray]="myHyundaiDataArray"
          ></pinned-modal>
        </div>
      </div>
    </div>
    <br />
    <br />
    <div href="#Shopping" class="container">
      <div>
        <h3 style="text-align: center; background-color: lightgoldenrodyellow">
          <img
            src="https://img.icons8.com/color/48/000000/shopping-cart--v1.png"
          />
          {{ shoppingHeadingText }}
        </h3>
      </div>
      <div class="row">
        <div class="col" style="text-align: center">
          <pinned-modal
            [imgHeight]="'70'"
            [imgWidth]="'70'"
            [hyperlink]="wegmansLink"
            [imageUrl]="wegmansImgLink"
            [linkName]="wegmans"
            [modalTitle]="wegmans"
            [primaryButton]="okButtonText"
            [tableHeadingArray]="wegmansHeadingArray"
            [tableRowArray]="wegmansDataArray"
          ></pinned-modal>
        </div>
        <div class="col" style="text-align: center">
          <pinned-modal
            [hyperlink]="aldiLink"
            [imageUrl]="aldiImgLink"
            [linkName]="aldi"
            [modalTitle]="aldi"
            [primaryButton]="okButtonText"
            [tableHeadingArray]="aldiHeadingArray"
            [tableRowArray]="aldiDataArray"
          ></pinned-modal>
        </div>
        <div class="col" style="text-align: center">
          <pinned-modal
            [imgWidth]="'100'"
            [hyperlink]="giantLink"
            [imageUrl]="giantImgLink"
            [linkName]="giant"
            [modalTitle]="giant"
            [primaryButton]="okButtonText"
            [tableHeadingArray]="giantHeadingArray"
            [tableRowArray]="giantDataArray"
          ></pinned-modal>
        </div>
        <div class="col" style="text-align: center">
          <pinned-modal
            [imgWidth]="'100'"
            [hyperlink]="dollarTreeLink"
            [imageUrl]="dollarTreeImgLink"
            [linkName]="dollarTree"
            [modalTitle]="dollarTree"
            [primaryButton]="okButtonText"
            [tableHeadingArray]="dollarTreeHeadingArray"
            [tableRowArray]="dollarTreeDataArray"
          ></pinned-modal>
        </div>
      </div>
    </div>
    <br />
    <br />
    <div href="#Hospital&UrgentCare" class="container">
      <div>
        <h3 style="text-align: center; background-color: lightgoldenrodyellow">
          <img src="https://img.icons8.com/color/48/000000/hospital.png" />{{
            hospitalsHeadingText
          }}
        </h3>
      </div>
      <div class="row">
        <div class="col" style="text-align: center">
          <pinned-modal
            [imgWidth]="'150'"
            [imgHeight]="'70'"
            [hyperlink]="towerHealthLink"
            [imageUrl]="towerHealthImgLink"
            [linkName]="towerHealth"
            [modalTitle]="towerHealth"
            [primaryButton]="okButtonText"
            [tableHeadingArray]="towerHealthHeadingArray"
            [tableRowArray]="towerHealthDataArray"
          ></pinned-modal>
        </div>
        <div class="col" style="text-align: center">
          <pinned-modal
            [imgWidth]="'100'"
            [hyperlink]="mainLineHealthLink"
            [imageUrl]="mainLineHealthImgLink"
            [linkName]="mainLineHealth"
            [modalTitle]="mainLineHealth"
            [primaryButton]="okButtonText"
            [tableHeadingArray]="mainLineHealthHeadingArray"
            [tableRowArray]="mainLineHealthDataArray"
          ></pinned-modal>
        </div>
      </div>
    </div>
    <br />
    <br />
    <div href="#Pharmacy" class="container">
      <div>
        <h3 style="text-align: center; background-color: lightgoldenrodyellow">
          <img src="https://img.icons8.com/color/48/000000/pill.png" />{{
            pharmacyHeadingText
          }}
        </h3>
      </div>
      <div class="row">
        <div class="col" style="text-align: center">
          <pinned-modal
            [imgWidth]="'100'"
            [imgHeight]="'70'"
            [hyperlink]="cvsLink"
            [imageUrl]="cvsImgLink"
            [linkName]="cvs"
            [modalTitle]="cvs"
            [primaryButton]="okButtonText"
          ></pinned-modal>
        </div>
        <div class="col" style="text-align: center">
          <pinned-modal
            [imgWidth]="'120'"
            [hyperlink]="wegmansPharmacyLink"
            [imageUrl]="wegmansPharmacyImgLink"
            [linkName]="wegmansPharmacy"
            [modalTitle]="wegmansPharmacy"
            [primaryButton]="okButtonText"
            [tableHeadingArray]="wegmansPharmacyHeadingArray"
            [tableRowArray]="wegmansPharmacyDataArray"
          ></pinned-modal>
        </div>
        <div class="col" style="text-align: center">
          <pinned-modal
            [imgWidth]="'180'"
            [hyperlink]="consolidatedMedicalSupplyLink"
            [imageUrl]="consolidatedMedicalSupplyImgLink"
            [linkName]="consolidatedMedicalSupply"
            [modalTitle]="consolidatedMedicalSupply"
            [primaryButton]="consolidatedMedicalSupply"
          ></pinned-modal>
        </div>
      </div>
    </div>
  </div>
</div>
