<div>
  <button
    type="button"
    class="btn btn-primary"
    data-bs-toggle="modal"
    [attr.data-bs-target]="'#modal_' + uniqueId"
    style="background-color: transparent; border: none"
  >
    <img [src]="imageUrl" width="50" height="60" />
  </button>
  <br />
  <a [href]="hyperlink">{{ linkName }}</a>
</div>

<!-- Modal -->
<div
  class="modal fade"
  [attr.id]="'modal_' + uniqueId"
  tabindex="-1"
  aria-labelledby="modalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalLabel">
          <img [src]="imageUrl" width="50" height="60" /><a
            [href]="hyperlink"
            style="text-decoration: none; padding: 2"
            >{{ modalTitle }}</a
          >
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th
                *ngFor="let tableHeading of tableHeadingArray;"
                scope="col"
              >
                <span>{{ tableHeading }}</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let tableRow of tableRowArray">
              <td>{{ tableRow }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">
          {{ primaryButton }}
        </button>
      </div>
    </div>
  </div>
</div>
